@font-face {
    font-family: "Witcher Font";
    src: url(/fonts/witcherFont.ttf);
}

/* HTML */
html{
    font-family: 'Witcher Font';
}



/* BODY */
body{
    background-image: url(/images/witcherBackground.jpg);
    max-height: fit-content;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: auto auto 3em;
    grid-template-areas: 
    "header header header"
    "nav main aside"
    "footer footer footer";
}



/* HEADER */
header{
    grid-area: header;
}

#titlePicture{
    display: block;
    margin: 0 auto;
    width: 75%;
    margin-top: 20px;
    margin-bottom: 20px;
}



/* NAV */
nav{
    grid-area: nav;
}



/* MAIN */
main{
    grid-area: main;
}



/* ASIDE */
aside{
    grid-area: aside;
}



/* FOOTER */
footer{
    grid-area: footer;
}



