@font-face {
    font-family: "Witcher Font";
    src: url(/fonts/witcherFont.ttf);
}

/* HTML */
html{
    font-family: 'Witcher Font';
    color: goldenrod;
}



/* BODY */
body{
    background-image: url(/images/witcherBackground.jpg);
    max-height: fit-content;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: auto auto 3em;
    grid-template-areas: 
    "header header header"
    "nav main aside"
    "footer footer footer";
}



/* HEADER */
header{
    grid-area: header;
}

#titlePicture{
    display: block;
    margin: 0 auto;
    width: 75%;
    margin-top: 20px;
    margin-bottom: 20px;
}



/* NAV */
nav{
    grid-area: nav;
    display: block;
}

nav ul{
    list-style-type: none;
}

nav li{
    margin-top: 20px;
    border: 2px solid goldenrod;
    width: 100px;
    padding: 5px;
    background-color: black;
}

nav a{
    color: whitesmoke;
    text-decoration: none;
    display: block;
}

nav li:hover{
    background-color: white;
}

nav a:hover{
    color: black;
}


/* MAIN */
main{
    grid-area: main;
}



/* ASIDE */
aside{
    grid-area: aside;
    padding: 10px 10px 10px 10px;
}

#asideImage{
    max-width: 200px;
}



/* FOOTER */
footer{
    grid-area: footer;
    color: black;
    bottom: 0;
    margin-left: 20px;
}



