
/* MAIN */
main{
    flex-wrap: wrap;
    justify-content: space-evenly;}



/* ANIMATIONS */
header{
    animation: none;}

main, h1{
    animation: mainappear 1.5s;}

nav{
    animation: navmove 1.5s;}

aside{
    animation: asidemove 1.5s;}

    
    
/* H-ELEMENTS */
h1{
    text-align: center;
    font-size: 50px;}

h2{
    text-align: center;}



 /* CHARACTER PICTURES */   
.characters{
    object-fit: contain;
    max-width: 200px;
    transition: 1s;
    opacity: 0.9;
    margin: 10px;}

.characters:hover{
    transition: 1s;
    opacity: 1.0;
    transform:scale(1.2);}



/* ASIDE */
#medallion{
    max-width: 100%;}

aside:hover #medallion{ 
    animation: medallionShake 0.7s infinite;}

@keyframes medallionShake{
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }}

@media screen and (max-width: 1500px) {
    main{
        flex-direction: row;}}
