/* ANIMATIONS */
header{
    animation: none;}

main, h1{
    animation: mainappear 1.5s;}

nav{
    animation: navmove 1.5s;}

aside{
    animation: asidemove 1.5s;}



/* MAIN */
main{
    flex-direction: column;}

article{
    width: 95%;
    height: auto;}

article:nth-child(odd){
    text-align: end;}

article>figure>img{
    width: 15%;}

article>figure{
    margin: 0px;}

article>a{
    text-decoration: none;
    color: whitesmoke;}

article>p{
    font-size: 22px;}



    /* TEMPORARY */
    /* ASIDE */
#asideMedallion{
    max-width: 100%;}